@import "values/colors";
@import "views/welcome";

body {
  font-family: 'Lato';
}

.container-vertical-center {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-color: $color-background;
}

.btn-action {
  background-color: $color-red;
  padding: 11px 22px;
  border-radius: 60px;
  font-size: 18px;
  color: $color-white;
  font-weight: 700;
  border: 0px;
  font-family: 'Lato';
  position: relative;
  overflow: hidden;
  text-decoration: none;

  &:active {
    background-color: $color-dark-red;
  }

  &:hover {
    color: $color-white;
    text-decoration: none;
  }

  &:before {
    background: $color-white;
    content: "";
    height: 155px;
    left: -75px;
    opacity: .2;
    position: absolute;
    top: -50px;
    -webkit-transform: rotate(35deg);
    -ms-transform: rotate(35deg);
    transform: rotate(35deg);
    -webkit-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    -o-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 50px;
  }

  &:hover:before {
    left: 120%;
    -webkit-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    -o-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  }
}

