@import "values/colors";
@import "views/welcome";

body {
  font-family: 'Lato';
}

.container-vertical-center {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-color: $color-background;
}

.btn-action {
  background-color: $color-action;
  padding: 11px 20px;
  border-radius: 60px;
  font-size: 18px;
  color: $color-white;
  font-weight: 700;
  border: 0px;
  font-family: 'Lato';
}
