
$color-background: #E5E5E5;
$color-red: #F22539;
$color-dark-red: #C00E20;
$color-white: #FFFFFF;
$color-gray-100: #F5F5F5;
$color-gray-200: #BFBFBF;
$color-gray-300: #5E5E5E;
$color-gray-400: #353535;
$color-gray-500: #E8E8E8;
$color-yellow: #ECA539;